body{
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    background: linear-gradient(90deg,#c33764, #1d2671);  
    transition: all 0.8s;
    background-image: url("./images/6.webp") !important;
    /* font-family: "Andika", sans-serif; */
    user-select: none;
    overflow: hidden;
   

}

.container{
    display: block;  
    /* position: relative; */  
    width: 50%;
    margin-top: 3%; 
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    
}

.game{
    height: 300px;
    width: 300px;
    background-color: white;
    transition: all  0.3s;
    opacity: 1;
   
}


.row{
    display: flex;
}

.game-box{
    display: flex;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 50px;
   
}


.restart{
    padding-top: 30px;
    margin-bottom: 25px;
}


.btn {
    background: #aa34d9;
    background-image: -webkit-linear-gradient(top, #aa34d9, #2b66b8);
    background-image: -moz-linear-gradient(top, #aa34d9, #2b66b8);
    background-image: -ms-linear-gradient(top, #aa34d9, #2b66b8);
    background-image: -o-linear-gradient(top, #aa34d9, #2b66b8);
    background-image: linear-gradient(to bottom, #aa34d9, #2b66b8);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;  
    font-family: "Andika", sans-serif;
    color: rgb(238, 234, 234);
    font-size: 17px;
    padding: 8px 16px 8px 16px;
    text-decoration: none;
    margin-top: 35px;
    transition: all 0.3s;
  }
  
  .btn:hover {
    background: #9181c4;
    text-decoration: none;
    -webkit-box-shadow: 1px 1px 11px #170617;
    -moz-box-shadow: 1px 1px 11px #170617;
    box-shadow: 1px 1px 11px #170617;
    cursor: pointer;
  }
  

  
  .game-box:hover{
      cursor: pointer;
      background-color: aliceblue;
    }
    
.heading{
    
    margin-bottom: 25px;
    padding-top: 40px;
    
    font-family: 'Archivo Black', sans-serif;
    /* background-color: whitesmoke; */
    transition: all 1s;
}
.left{
    position: absolute;
    left: 385px;
    top: 330px;
    transition : all 0.9s ease-out;  
    opacity: 0;
}

.right{
    position: absolute;
    top: 330px;
    right: 385px;
    transition : all 0.9s ease-out;   
    opacity: 0;
   
}

.player{
    font-size: 30px;
    font-family: "Andika", sans-serif;
    margin-left: 2%;
    
}

.Player1S{
    left: 200px;
    top: 45%;
    position: absolute;
    font-family: 'Patua One', cursive;
    font-size: 30px;
}

.Player2S{
    right: 200px;
    top: 45%;
    font-family: 'Patua One', cursive;
    position: absolute;
    font-size: 30px;
}

.rounds{
    position: absolute;
    right: 560px;
    top: 285px;
    z-index: 1;
    font-size: 80px;
    font-family: 'Archivo Black', sans-serif;
    display: block;
}

.button{
    text-decoration: none;
}