body{
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    background: linear-gradient(90deg,#c33764, #1d2671);  
}

.container{
    display: block;  
    /* position: relative; */
    background-color: white;
    width: 50%;
    margin-top: 10%; 
    padding-top: 20px;
    padding-bottom: 20px;
}

.game{
    height: 300px;
    width: 300px;
}


.row{
    display: flex;
}

.game-box{
    display: flex;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}


.restart{
    padding-top: 30px;
    margin-bottom: 25px;
}

button{
    padding: 6px;
    cursor: pointer;
}

.heading{
    margin-bottom: 25px;
}

.game-box:hover{
    cursor: pointer;
}

.left{
    position: absolute;
    left: 385px;
    top: 330px;
    transition : ease-out 1s;
}

.right{
    position: absolute;
    top: 330px;
    right: 385px;
    transition : ease-out 1s;
      
}