body {
margin: 0px;
display: absolute;
}

nav {
display: flex;
/* margin: 10px; */
background-color: #edede9;
font-family: "Helvetica", "sans-serif";
padding: -8px;
}

li a {
text-decoration: none;
font-size: 13px;
margin: 13px;
font-weight: 600;
color: #4a4a4a;
/* padding: 15px; */
letter-spacing: 0.5px;
}

ul {
list-style-type: none;
display: flex;
padding-top: 12px;
}
img {
margin-left: 40px;
display: absolute;
height: 40px;
padding-top: 0px;
padding-left: 10px;
}

.log {
display: flex;
margin-left: 90px;
}

select {
margin-right: 20px;
margin-bottom: 3px;
}


.slide {
margin-top: 0px;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
width: 100%;
height: 50vh;
overflow-x: hidden;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.slide1 {
background-image: url("https://www.tajhotels.com/content/dam/tajhotels/campaign/Sawai-Man-Mahal-Banner%281200x400%29.jpg/jcr:content/renditions/cq5dam.web.1280.1280.jpeg");

height: 550px;
}

.slide2 {
background-image: url("https://www.tajhotels.com/content/dam/ihcl/paathya/pathya_landing_page/carecations/Carecations-banner-1200x400.jpg/jcr:content/renditions/cq5dam.web.1280.1280.jpeg");
height: 550px;
}

.slide3 {
background-image: url("https://www.tajhotels.com/content/dam/tajhotels/campaign/she-remains-the-taj/woyage/woyage-desktop-banner.jpg/jcr:content/renditions/cq5dam.web.1280.1280.jpeg");
height: 550px;
}

.arrow {
cursor: pointer;
position: absolute;
top: 275px;
margin-top: 40px;
width: 0;
height: 0;
border-style: ridge;
}
#arrow-left {
border-width: 20px 30px 20px 0;
border-color: transparent #fff transparent transparent;
left: 0;
margin-left: 20px;
}

#arrow-right {
border-width: 20px 0 20px 30px;
border-color: transparent transparent transparent #fff;
right: 0;
margin-right: 20px;
}
div.rewards{
    display: flex;
    background-color: #1A0032 ;
    font-size: 16px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

div.reward_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #1A0032 ; */
    text-align : center ;
    padding: 28px;
    width: 100%;
}

div.line{
    border: 5px solid white;
    margin: 0.5% 0px;
}

div.text, .text1{
    margin-bottom: -30px;
    padding: 14px;
}

div.text1,button{
    background-color: #ff7d00;
    padding: 5px;
    padding-left: 3px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 26px;
}
   
.img, .img1{
    margin: 5px;
    /* width: 100%; */
    vertical-align: middle;
}

.img1{
    width: 100%;
}

