@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body{
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(90deg, #131086, #b621f3);
    color: #fff;
}

h1{
    font-size: 90px;
    display: inline-block;
}

.container{
    margin-top: 200px;
    margin-left: 90px;
    margin-right: 100px;
    height: 500px;
}
.btn{
    position: absolute;
     left: 45%;
    bottom: 35%;
    padding: 10px 16px 10px 16px;
    border-radius: 12px;
    border:none;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(45deg, #131086, #96829e);

}

.btn:hover{
    cursor: pointer;
}