@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body{
    font-family: 'Nunito', sans-serif;
    background: #161b33;
    color: #edf2fb;
}

h1{
    font-size: 90px;
    display: inline-block;
}

.container{
    margin-top: 250px;
    margin-left: 90px;
    margin-right: 100px;
    height: 500px;
    background-color : black;
    border-radius : 25px;
}
.btn {
    position: absolute;
    left: 45%;
    bottom: 35%;
    padding: 10px 16px 10px 16px;
    border-radius: 12px;
    border:none;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    background: #f0f3bd;
    

}

.btn:hover, .accept button{
    cursor: pointer;
}


 .accept button{
    position : absolute;
    padding: 10px 16px 10px 16px;
    border-radius: 12px;
    border:none;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    background: #f0f3bd;
    transition : all 0.5s;
    opacity: 0;
 }
 
 .by-level{
    left : 350px;
    top : 380px;

 }

 .by-topic{
    right : 350px;
    top : 380px;

 }