@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #000000;
  overflow-x: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
}

.heading-container {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(14px);
  color: #fff;
}

.heading-container .heading-left {
  display: flex;
  gap: 3rem;
  list-style-type: none;
  margin-left: 39px;
}
.heading-container .heading-left li {
  font-size: 14px;
  cursor: pointer;
}
.logo {
  text-align: center;
  width: 100px;
  height: 100px;
  background: transparent
    url("https://www.maserati.com/etc.clientlibs/maserati/clientlibs/clientlib-vendorRedesign/resources/img/redesign_menu_desktop_logo_white.svg")
    no-repeat 50% 50%;
  background-size: 100%;
  margin-left: -22%;
  cursor: pointer;
}

.container .carousel {
  width: inherit;
  height: inherit;
  position: relative;
  cursor: pointer;
}

.container .carousel span img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.container .carousel .mouse-scroll {
  width: 107px;
  height: 107px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  opacity: 0;
  z-index: -10;
  padding-top: 35px;
  text-align: center;
  /* transition: all 10ms ease; */
}

.container .carousel .mouse-scroll div {
  color: #000000;
  font-size: 12px;
  text-transform: uppercase;
}

.carousel .previous-icon,
.carousel .next-icon {
  position: absolute;
  width: 60px;
  height: 60px;
  z-index: 10;
  top: 50%;
  background-color: #fff;
  border-radius: 50%;
  padding: 21px;
}

.previous-icon {
  left: 30px;
}

.next-icon {
  right: 46px;
}

.carousel::before {
  content: "";
  width: 100%;
  height: 50%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);
  position: absolute;
  left: 0;
}

.configuration {
  height: 90vh;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 500px;
  position: relative;
  font-size: 33px;
  color: #000000;
  
}

.configuration.active{
  background: transparent url("https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/homepage/model_choose/2023/huracan_sterrato_home.jpg") ;
}

.configuration{
  background: transparent url("https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/homepage/model_choose/2023/urus_s_home.jpg") ;
}

.slide-1  {
  width: 100%;
  height: 100%;
}

.slide-1 .text-1 {
  position: absolute;
  z-index: 10;
  top: 57px;
  left: 125px;
}

.slide-1 .text-2 {
  position: absolute;
  top: 111px;
  font-size: 65px;
  left: 115px;
  font-weight: 700;
}

.slide-1 .text-3 {
  position: absolute;
  left: 115px;
  top: 185px;
  font-size: 65px;
  font-weight: 700;
}

.slide-1 .svg-next {
  position: absolute;
  top: 232px;
  left: 115px;
}

.slide-1 .svg-next svg {
  width: 66px;
  display: block;
}

.slide-1 .svg-next::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 3.5px;
  background-color: #000000;
  color: #000000;
  top: 93px;
  left: 25px;
  border-radius: 5px;
  transform: rotate(45deg);
}

.slide-1 .svg-next::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 3.5px;
  background-color: #000000;
  color: #000000;
  top: 103px;
  left: 25px;
  border-radius: 5px;
  transform: rotate(-45deg);
}

.configuration .slide-1 .select {
  height: 44%;
  width: 100%;
  position: absolute;
  display: flex;
  top: 406px;
  left: 115px;
  gap: 3rem;
}

.select-1,
.select-2 {
  display: block;
  cursor: pointer;
  position: relative;
}

.configuration .slide-1 .select .select-1::after {
  content: "";
  position: absolute;
  width: 200%;
  background-color: #9b9b9b;
  height: 2px;
  top: 57px;
  left: -3px;
  border-radius: 3px;
}



.configuration .slide-1 .select .select-1::before {
  content: "";
  position: absolute;
  display: block;
  width: 0%;
  background-color: #000000;
  height: 5px;
  top: 56px;
  left: -3px;
  z-index: 10;
  transition: all 0.3s ease-in;
  border-radius: 3px;
}
.configuration .slide-1 .select .select-1.active::before{
  width: 125%;
}

.configuration .slide-1 .select .select-2.active::before{
  width: 143%;
}

.configuration .slide-1 .select .select-1:hover:before {
  width: 125%;
}

.configuration .slide-1 .select .select-2::before {
  content: "";
  position: absolute;
  width: 0%;
  background-color: #000000;
  height: 5px;
  top: 56px;
  left: -13px;
  z-index: 10;
  transition: all 0.3s ease-in;
  border-radius: 3px;
}

.configuration .slide-1 .select .select-2:hover::before {
  width: 143%;
}

