@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Teko', sans-serif;
    font-size: 70px;
}

body{
    background-color: black;
    color: white;
    /* overflow :hidden ; */
}
.container{
    /* position: relative; */
    margin-top : 70px;
}

.image-1{
    width : 300px;
    transform: rotate(60deg);
}

.image-2{
    width : 250px;
}

.image-3{
    width : 220px;
    transform: scaleX(-1);
}

#image{
    position : absolute;
    left: 200px;
    top : 380px;
    opacity : 0;
}

.ComputerScore{
  position: absolute;
  right: 160px;
  font-size : 50px;

}

.PlayerScore{
    position: absolute;
    left: 160px;
    font-size : 50px;
}

.Score{
    margin :80px auto;
}

#image1{
    position: absolute;
    top : 380px;
    right : 160px;
    opacity: 0;

}
  
.imag-1{
    width : 300px;
    transform : scaleX(-1);
    transform: rotate(60deg);
}

.imag-2{
    width : 250px;
}

.imag-3{
    width : 220px;
}